* {
  box-sizing: border-box;
}

.row {
  margin-top: 25vh;
  display: flex;
  justify-content: center;
}

input {
  margin-bottom: 1rem !important;
  overflow: hidden;
  height: max-content;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

h1 {
  font-size: 1.5rem;
  font-weight: 600;
}

p {
  max-width: 100%;
  word-wrap: break;
  overflow-x: hidden;
  overflow-wrap: break-word;
}

p::first-line {
  font-weight: 500;
}

#message-container {
  max-width: 100%;
  display: flex;
  flex-direction: column;

}

.toast-success {
  background-color: #54be8b;
  color: #f4f4f4;
}

.toast-danger {
  background-color: #be5454;
  color: #f4f4f4;
}

@media screen and (max-width: 576px) {
  .buttons {
    flex-direction: column;
  }
  .buttons button {
    margin: 1rem 0;
  }
}
